.listContainer {
  background-color: #cd2c58;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  overflow-y: auto;
}

@media (max-width: 480px) {
  .listContainer {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
