.itemContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  list-style: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.packed {
  accent-color: aliceblue;
}

.noItem {
  font-size: 1.5rem;
  font-style: italic;
  color: yellow;
}
