@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

.headerContainer {
  font-family: "Sixtyfour", sans-serif;
  background-color: #174143;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

@media (max-width: 480px) {
  .headerContainer {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .headerContainer {
    font-size: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .headerContainer {
    font-size: 2.5rem;
  }
}

@media (min-width: 1025px) {
  .headerContainer {
    font-size: 3rem;
  }
}
