@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

.headerContainer {
  font-family: "Sixtyfour", sans-serif;
  background-color: #174143;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
