.footerContainer {
  background-color: #f4991a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media (max-width: 480px) {
  .footerContainer {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footerContainer {
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
