.container {
  display: grid;
  grid-template-rows: 1.25fr 1fr 5fr 0.5fr;
  height: 100vh;
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    grid-template-rows: 0.8fr 0.8fr 4fr 0.5fr;
  }
}
