.sortContainer {
  display: flex;
  gap: 5px;
}

.clearButton {
  cursor: pointer;
}

.clearButton:hover {
  background-color: red;
}

@media (max-width: 480px) {
  .sortContainer {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
